In [1]:
# Import the dependencies.
import pandas as pd
import requests
import gmaps
# Import the API key.
from config import g_key

In [2]:
#import sys
#sys.path

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2021-09-29 19:29:07,-33.0153,27.9116,60.04,88,100,18.01
1,1,Albany,US,2021-09-29 19:24:58,42.6001,-73.9662,63.09,57,82,9.10
2,2,Hithadhoo,MV,2021-09-29 19:29:08,-0.6000,73.0833,82.27,74,100,3.98
3,3,Makakilo City,US,2021-09-29 19:27:45,21.3469,-158.0858,82.72,65,1,9.22
4,4,Busselton,AU,2021-09-29 19:29:08,-33.6500,115.3333,56.08,86,11,7.14
...,...,...,...,...,...,...,...,...,...,...
554,554,Guatire,VE,2021-09-29 19:33:09,10.4762,-66.5427,77.50,93,100,1.52
555,555,Kokoda,PG,2021-09-29 19:33:10,-8.8785,147.7407,74.80,97,96,0.72
556,556,Praia,CV,2021-09-29 19:33:11,14.9215,-23.5087,82.94,74,40,11.50
557,557,Krasnoarmeysk,RU,2021-09-29 19:33:11,51.0239,45.6969,43.29,61,87,3.09
558,558,Kaoma,ZM,2021-09-29 19:33:11,-14.7833,24.8000,81.00,24,86,1.19

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hithadhoo,MV,2021-09-29 19:29:08,-0.6000,73.0833,82.27,74,100,3.98
3,3,Makakilo City,US,2021-09-29 19:27:45,21.3469,-158.0858,82.72,65,1,9.22
6,6,Rikitea,PF,2021-09-29 19:29:09,-23.1203,-134.9692,73.04,68,100,17.81
7,7,Banda Aceh,ID,2021-09-29 19:29:09,5.5577,95.3222,78.46,83,98,6.20
8,8,Millbrook,US,2021-09-29 19:29:10,32.4799,-86.3619,87.87,58,90,0.00
10,10,Cosala,MX,2021-09-29 19:29:11,24.4125,-106.6908,87.26,49,0,4.25
15,15,Salalah,OM,2021-09-29 19:26:13,17.0151,54.0924,82.49,89,20,4.61
16,16,Bathsheba,BB,2021-09-29 19:29:13,13.2167,-59.5167,84.76,66,55,6.11
19,19,Dwarka,IN,2021-09-29 19:29:15,22.2394,68.9678,79.54,92,100,12.71
20,20,Matay,EG,2021-09-29 19:29:15,28.4190,30.7792,81.00,37,0,13.85

In [11]:
#preferred_cities_df.count()

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2       Hithadhoo      MV     82.27  -0.6000   73.0833
3   Makakilo City      US     82.72  21.3469 -158.0858
6         Rikitea      PF     73.04 -23.1203 -134.9692
7      Banda Aceh      ID     78.46   5.5577   95.3222
8       Millbrook      US     87.87  32.4799  -86.3619
10         Cosala      MX     87.26  24.4125 -106.6908
15        Salalah      OM     82.49  17.0151   54.0924
16      Bathsheba      BB     84.76  13.2167  -59.5167
19         Dwarka      IN     79.54  22.2394   68.9678
20          Matay      EG     81.00  28.4190   30.7792

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))