## Deliverable 2. Create a Customer Travel Destinations Map.

In [99]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import gmaps
from datetime import datetime
# Import the time module.
import time
# Get today's date in seconds.
today = time.time()
# Import the API key.
from config import weather_api_key
from config import g_key

In [84]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hermanus,ZA,-34.4187,19.2345,55.90,72,44,8.08,light rain
1,1,Hohhot,CN,40.8106,111.6522,52.09,37,0,8.95,clear sky
2,2,East London,ZA,-33.0153,27.9116,59.94,72,20,9.22,light rain
3,3,Ribeira Grande,PT,38.5167,-28.7000,75.60,78,20,10.36,few clouds
4,4,Pangnirtung,CA,66.1451,-65.7125,32.00,100,90,6.91,mist

In [85]:
#2 Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [86]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ribeira Grande,PT,38.5167,-28.7000,75.60,78,20,10.36,few clouds
8,8,Butaritari,KI,3.0707,172.7902,82.83,63,83,16.24,broken clouds
15,15,Kirakira,SB,-10.4544,161.9205,78.80,85,87,0.81,overcast clouds
17,17,Hilo,US,19.7297,-155.0900,76.80,81,90,3.44,light rain
22,22,Port Blair,IN,11.6667,92.7500,79.99,83,55,6.44,broken clouds
24,24,Vila Franca Do Campo,PT,37.7167,-25.4333,76.19,75,91,3.76,overcast clouds
27,27,Havelock,US,34.8791,-76.9013,81.01,64,20,5.01,few clouds
32,32,Atuona,PF,-9.8000,-139.0333,77.72,73,74,18.28,broken clouds
34,34,Sorong,ID,-0.8833,131.2500,76.95,88,100,9.78,overcast clouds
39,39,Caravelas,BR,-17.7125,-39.2481,81.77,67,3,14.52,clear sky

In [87]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.head()
#preferred_cities_df.isnull().values.any()
preferred_cities_df.isnull().sum().sum()

1

In [88]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = pd.DataFrame(preferred_cities_df)
clean_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ribeira Grande,PT,38.5167,-28.7000,75.60,78,20,10.36,few clouds
8,8,Butaritari,KI,3.0707,172.7902,82.83,63,83,16.24,broken clouds
15,15,Kirakira,SB,-10.4544,161.9205,78.80,85,87,0.81,overcast clouds
17,17,Hilo,US,19.7297,-155.0900,76.80,81,90,3.44,light rain
22,22,Port Blair,IN,11.6667,92.7500,79.99,83,55,6.44,broken clouds
24,24,Vila Franca Do Campo,PT,37.7167,-25.4333,76.19,75,91,3.76,overcast clouds
27,27,Havelock,US,34.8791,-76.9013,81.01,64,20,5.01,few clouds
32,32,Atuona,PF,-9.8000,-139.0333,77.72,73,74,18.28,broken clouds
34,34,Sorong,ID,-0.8833,131.2500,76.95,88,100,9.78,overcast clouds
39,39,Caravelas,BR,-17.7125,-39.2481,81.77,67,3,14.52,clear sky

In [89]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ribeira Grande,PT,75.60,few clouds,38.5167,-28.7000,
8,Butaritari,KI,82.83,broken clouds,3.0707,172.7902,
15,Kirakira,SB,78.80,overcast clouds,-10.4544,161.9205,
17,Hilo,US,76.80,light rain,19.7297,-155.0900,
22,Port Blair,IN,79.99,broken clouds,11.6667,92.7500,
24,Vila Franca Do Campo,PT,76.19,overcast clouds,37.7167,-25.4333,
27,Havelock,US,81.01,few clouds,34.8791,-76.9013,
32,Atuona,PF,77.72,broken clouds,-9.8000,-139.0333,
34,Sorong,ID,76.95,overcast clouds,-0.8833,131.2500,
39,Caravelas,BR,81.77,clear sky,-17.7125,-39.2481,

In [90]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...  skipping.")

Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.
Hotel not found...  skipping.

In [91]:
hotel_df.isna().any()

City                   False
Country                 True
Max Temp               False
Current Description    False
Lat                    False
Lng                    False
Hotel Name             False
dtype: bool

In [92]:
# 8a. Create the output File (CSV)
hotel_df.to_csv('WeatherPy_vacation.csv')

# 8b. Export the City_Data into a csv
clean_df.to_csv('City_Data.csv', index_label="City_ID")

In [93]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [100]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=.85)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))